.profile-info__add-button {
    margin: auto 0;
    background-image: url('../../../images/profile-info__add-button.svg');
    width: 150px;
    height: 50px;
}

.profile-info__add-button:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity .2s;
}

@media screen and (max-width: 1050px) {
    .profile-info__add-button {
        background-image: url("../../../images/profile-info__add-button-wide.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        margin: 0 auto;
        width: 282px;
        padding-top: 36px;
    }
}