.image-popup__close-image {
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    background: url(../../../images/popup__close-image.svg);
    background-size: cover;
    width: 41px;
    height: 41px;
    border: none;
    padding: 0;
    outline: none;
}

.image-popup__close-image:hover {
    opacity: 0.6;
    transition: opacity .2s ease;
}

@media screen and (max-width: 570px) {
    .image-popup__close-image {
        width: 30px;
        height: 30px;
        top: -25px;
        right: -25px;
    }
}