.profile-info__edit-button {
    width: 24px;
    height: 24px;
    padding-top: 19px;
}

.profile-info__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity .2s;
}

@media screen and (max-width: 1050px) {
    .profile-info__edit-button {
        width: 18px;
        height: 18px;
    }
}