.profile__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 336px;
    align-self: flex-end;
}

@media screen and (max-width: 1050px) {
    .profile__info {
        margin: 0 auto;
        margin-bottom: 36px;
        justify-content: center;
    }
}