.card__like {
    background-image: url(../../../images/card__info-like.svg);
    width: 20.76px;
    border: none;
    background-color: white;
    margin-top: 6px;
    cursor: pointer;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.card__like:hover {
    opacity: 0.6;
    transition: opacity .2s;
}