.card__like {
    background-image: url(../../../images/card__info-like.svg);
    width: 21px;
    border: none;
    background-color: #ffffff;
    margin-top: 6px;
    cursor: pointer;
    background-repeat: no-repeat;
    flex-shrink: 0;
    outline: none;
}

.card__like:hover {
    opacity: 0.6;
    transition: opacity .2s ease;
}

.card__like:visited {
    opacity: 1;
}