.popup__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 13.26px;
    margin-top: 29.74px;
}

.popup__text::placeholder {
    color: black;
    margin-top: 10px;
}

.popup__text:first-of-type {
    margin: 0;
}

@media screen and (max-width: 450px) {
    .popup__text {
        margin-top: 30px;
    }
}